@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
}

html, body{
    height: 100%;
}

body{
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-color: #94d786;
    background-image: radial-gradient(at 88% 0%,
      rgb(101, 141, 100) 0px,
      transparent 50%),
    radial-gradient(at 63% 46%, rgb(229, 235, 231) 0px, transparent 50%),
    radial-gradient(at 95% 53%, rgb(60, 97, 21) 0px, transparent 50%),
    radial-gradient(at 79% 83%, rgb(43, 222, 79) 0px, transparent 50%),
    radial-gradient(at 74% 93%, rgb(85, 218, 91) 0px, transparent 50%),
    radial-gradient(at 52% 13%, rgb(47, 221, 13) 0px, transparent 50%),
    radial-gradient(at 30% 80%, rgb(7, 108, 15) 0px, transparent 50%);
    color: #000;
    font-family: 'Ubuntu';
}

.login{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 90%;
    padding: 70px 30px 44px;
    border-radius: 1.25rem;
    background: #fff;
    text-align: center;
}

.login > img{
    width: 150px;
    object-fit: cover;
    margin-bottom: 25px;
}

.login > h2{
    font-size: 36px;
    margin: 0 0 25px;
}

.login > h3{
    color: rgba(0, 0, 0, 0.38);
    margin: 0 0 6px;
    font-weight: 500;
    font-size: 1rem;
}

.login-form{
    display: grid;
    gap: 30px;
    place-items: center;
    width: 100%;
    margin: 0;
}

.login-form > input, .login-form > button{
    height: 56px;
    outline: none;
    padding: 0;
    font-family: inherit;
}

.login-form > input{
    width: 240px;
    background: transparent;
    border: 2px solid transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    font-size: 18px;
    padding: 0;
    text-align: center;
    transition: all 0.3s;
}

.login-form > input:hover{
    border-bottom: 2px solid #13df65;
}

.login-form > input:focus{
    border-bottom: 2px solid #13df65;
}

.login-form > button{
    cursor: pointer;
    width: 65%;
    height: 56px;
    background: #1a82dd;
    color: #f9f9f9;
    border: 0;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0.3s;
}

.login-form > button:hover{
    background-color: #1a38e4;
}

#login_button:hover {
    transform: scale(1.05);
}

.login-form > a{
    color: #1a82dd;
    font-size: 1rem;
    text-align: left;
    text-decoration: none;
    transition: all 0.3s;
}

.login-form > a:hover{
    color: #1a38e4;
}

@media (width >= 450px){
    .login{
        width: 380px;
    }
}

@media (width >= 500px){
    body{
        padding: 0;
    }
}

@media (width >= 1200px){
    .login{
        width: 25%;
    }
}

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

main {
    height: 80vh;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    gap: 50rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 20rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 5rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 0.75rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        font-size: 10px;
        margin-top: 1000px;
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }

    footer{
        width: 120%;
    }

    main{
        height: 0vh;
    }
}